@model IEnumerable<AlmacenMvc.Dtos.ArticuloDto>

<h2>Artículos</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo artículo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Descripcion</td>
            <td>@item.Precio</td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
